html {
    background-color: grey;
}
body {
    background-color: white;
    border-width: 2px;
    padding: 20px 70px;
    left: 8px;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
    font-family: 'Arial';
    font-size: 18px;
}

table, tr, td{
    padding: 6px 3px;
    line-height: 20px;
    border-spacing: 2px;
    border-collapse: collapse;
}

.fheader{
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 12px;
    border-radius: 0px 25px 25px 0px;
}

.subfheader{
    font-weight: bold;
}

.label{
    text-align: right;
    font-weight: bold;
}

.value{
    color: gray;
    padding-left: 12px;
}

.form-text{
    color: gray;
}

.response{
    padding-left: 12px;
}


.section{
    padding: 12px;
}

li.error-bullet{
    color:red
}

li.warning-bullet{
    color:goldenrod
}

.button-submit {
    color: black;
    background: yellow;
    padding: 10;
    font-weight: bold;
    border: none;
    text-align: center;
    width: 140;
    border-radius: 25px;
}

input#id_file{
    color: gray;
    width: 300;
    font-weight: bold;
}