<html>
<head>
    <title>Metadata Change Upload</title>
</head>
<body>
    <h3>Metadata Change Upload</h3>

    <p>Select the Excel file that has the metadata:</p>
    <form action="" enctype="multipart/form-data"  method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Validate New Metadata" name="validate new metadata">
        {% if valid and hasChanges %}
            <input type="submit" value="Save Metadata" name="save metadata changes">
        {% endif %}
    </form>

    {% if changes %}
        Changes found:
        <ul>
        {% for change in changes %}
            <li>{{ change }}</li>
        {% endfor %}
        </ul>
        </p>
    {% elif valid and not changes %}
        <p>
        No metadata changes detected
        </p>
    {% endif %}

    <br>

    {% if fileMetadata %}
        <p>
            File metadata:
        </p>
        <p>
        <table>
            {% for label, data in fileMetadata %}
            <tr>
                <td>{{ label }}</td>
                <td>{{ data }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if metadata %}
        <p>
            Metadata in database:
        </p>
        <p>
        <table>
            {% for label, data in metadata %}
            <tr>
                <td>{{ label }}</td>
                <td>{{ data }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>
