{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'file_loader/style.css' %}" />
<html>
<head>
    <title>Assisted File Upload for {{ uploader_name }}</title>
</head>
<body>
    {% if form %}
    <h3>Assisted File Upload for {{ uploader_name }}</h3>

    <p>Select the file</p>
    <form action="" enctype="multipart/form-data"  method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Validate Metadata" name="validate metadata">
        {% if valid %}
            <input type="submit" value="Upload" name="upload">
        {% endif %}
    </form>
    {% else %}
    <h3>Automated File Upload for {{ uploader_name }}</h3>
    {% endif %}

    <!-- View of responses about the file-->
    {% if responses %}
        {% for response in responses %}
        <p>
            {{ response }}
        </p>
        {% endfor %}
    {% endif %}

    <!-- View of file errors-->
    {% if errors %}
        <p>
            Errors:
        </p>
        <p>
            <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </p>
    {% endif %}

    <!-- View of file warnings-->
    {% if warnings %}
        <p>
            Warnings:
        </p>
        <p>
            <ul>
            {% for warning in warnings %}
            <li>{{ warning }}</li>
            {% endfor %}
            </ul>
        </p>
    {% endif %}

    <!-- View of uploader metadata-->
    {% if uploaderMetadata %}
        <p>
            Uploader Metadata:
        </p>
        <p>
        <table>
            {% for label, data in uploaderMetadata %}
            <tr>
                <td>{{ label }}</td>
                <td>{{ data }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    
    <!-- View of uploader metadata parameters -->
    {% if uploaderMetadataParameters %}
        <p>
            Uploader Metadata Parameters:
        </p>
        <table>
            <tr>
                {% for label in uploaderMetadataParameterLabels %}
                    <td>{{ label }}</td>
                {% endfor %}
            </tr>

            {% for data in uploaderMetadataParameters %}
            <tr>
                {% for item in data %}
                    <td>{{ item }}</td>
                {% endfor %}    
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <!-- View of uploader metadata columns -->
    {% if uploaderMetadataColumns %}
        <p>
            Uploader Metadata Columns:
        </p>
        <table>
            <tr>
                {% for label in uploaderMetadataColumnLabels %}
                    <td>{{ label }}</td>
                {% endfor %}
            </tr>

            {% for data in uploaderMetadataColumns %}
                <tr>
                    {% for item in data %}
                        <td>{{ item }}</td>
                    {% endfor %}    
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>