{% load static from staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'manager/style.css' %}" />

<html>
<head>
    <title>File Loader Bot</title>
</head>
<body>
    <div class="section">
        <h3>File Loader Bot</h3>
    </div>
        <!-- View of uploaders -->
    {% if uploaders %}
    <div class="section">
        <table>
        {% for uploader in uploaders %}
        <tr>
            <td><a href="/uploader/assisted/{{ uploader }}/">{{ uploader }}</a></td>
        </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
</html>